<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Login</title>
</head>
<body>

  <ul>
    <li><a href="/">Zalora Main</a></li>
    <li><a href="/itemin">Zalora In</a></li>
    <li><a href="/itemout">Zalora POD</a></li>
    <li><a href="/reentry">Re-Entry</a></li>
    <li><a href="/pharmacyin">Pharmacy Inventory</a></li>
    <li><a href="/pharmacyout">Pharmacy POD</a></li>
    <li><a href="/grpmy">GRP Malaysia</a></li>
    <li><a href="/dispatch">Dispatcher Report</a></li>
    <li><a href="/central">General Tracker</a></li>
  </ul>

<table>
    <tr>
        <th>Tracking Number</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Value</th>
        <th>Entry Date</th>
        <th>Date Age</th>
      </tr>
</table>

  <%itemList.forEach(zaloraInventory => {%>
       <table>
        <tr>
          <td><%= zaloraInventory.trackingNumber %></td>
          <td><%= zaloraInventory.name %></td>
          <td><%= zaloraInventory.address %></td>
          <td><%= zaloraInventory.contact1 %></td>
          <td><%= zaloraInventory.value %></td>
          <td id="entry"><%= zaloraInventory.entryDate %></td>
          <td id="expire"><%= zaloraInventory.expireDate %></td>
          <td id="days"><%= zaloraInventory.age %></td>
        </tr>
      </table>
   <%})%>


   <script>

        let dateEntry = document.getElementById('dateEntry').value; //08/25/2020

        let today = new Date();

        if (today.getDate() < 0){
           todayDay = "0" + today.getDate();
        } else {
            todayDay = today.getDate();
        }

        let todayDate = (today.getMonth() + 1) + '/' + todayDay + '/' + today.getFullYear();

        let age = Math.abs(todayDate-dateEntry);
        let ageDisplay = age/(1000 * 3600 * 24)

        console.log(ageDisplay)

   </script>

   <script>
      let entry = document.getElementById('entry').innerHTML
      var entryDate = Date.parse(entry)
      //let entryMS = 1647552857
      console.log(entryDate)
      let expire = document.getElementById('expire').innerHTML
      let expireDate = Date.parse(expire)
      console.log(expireDate)
      //let expireMS = 1650144857
      //let ages = document.getElementById('age')
      let value = expireDate - entryDate
      let days = Math.round(value /(60*60*24*1000))
      document.getElementById('days').innerHTML = days + " Days"
      console.log(value)
      console.log(days)
   </script>
</body>
</html>

